:root {
    --white: #ffffff;
    --black: #000000;

    --f-weight-light: 300;
    --f-weight-regular: 400;
    --f-weight-medium: 500;
    --f-weight-semi-bold: 600;
    --f-weight-bold: 700;

    --layout-max-size: 1480px;
    --layout-min-size: 768px;

    --font-family-base: 'SF UI Display', sans-serif;
}
